<div class="rinchans owl-carousel owl-theme owl-loaded">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    <%  Films.forEach(function(film) {%>
                        <div class="owl-item">
                            <div class="item">
                                <a href="single/<%- film.id%>"><img src="<%- film.file%>" alt="<%- film.file%>" /></a>
                                <div class="owl-caption">
                                    <a href="single/<%- film.id%>" class="title"><%- film.Name%></a>
                                    <p class="min">Thời Lượng : <%- film.time%> Phút</p>
                                </div>
                            </div>
                        </div>
                    <%})%>
                </div>
            </div>
        </div>